<div class="ad-list" *ngIf="ads$ | async as ads">

    <ng-container *ngIf="hasAds; else noAds">
        <div *ngFor="let ad of ads">
            <div class="card">
                <img src="{{ad.imageSrc | image}}" class="card-img-top">
                <div class="card-body">
                    <a href="{{ad.url}}">
                        <h5 class="card-title">{{ad.title}}</h5>
                    </a>
                    <div class="card-text">
                        <span>{{ad.date}}</span>
                        <strong>{{ad.price}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noAds>
        <div class="alert alert-danger no-ads" role="alert">
            Inga artiklar att visa
        </div>
    </ng-template>
</div>