<input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Vad letar du efter?" aria-label="searchTerm" aria-describedby="addon-wrapping">
<div *ngIf="regions$ | async as regions" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Region
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let region of regions" class="dropdown-item" href="#">{{region.name}}</a>
    </div>
</div>

<button type="button" class="btn btn-primary">Sök</button>