<div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Vad letar du efter?">
    <div class="input-group-append">
       

        <select [(ngModel)]="selectedRegion" *ngIf="regions$ | async as regions" class="custom-select">
                <option [ngValue]="null">Hela Sverige</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
        </select>

    </div>
    <div class="input-group-append">
        <button (click)="search()" class="btn btn-outline-secondary" type="button">Sök</button>
    </div>
</div>
